.main-background-deserts {
    background-image: url(https://plus.unsplash.com/premium_photo-1681826543445-e84c16a952b4?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border-radius: 30px;
    padding-bottom: 20px;
}

.deserts-section {
    box-shadow: 15px 15px 20px 5px rgba(127, 111, 111, 0.562);
}
.food-list {
    list-style: none;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    width: 1200px;
    
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    justify-content: center;

}
.populardesert-item {
    border: 1px solid blue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(202, 99, 51);
    display: flex;
    flex-direction: column;
}
.populardesert-item:hover {
    box-shadow: inset 0px 0px 10px 5px rgb(154, 76, 39);

}
.img-wrapper-38 {
    background-image: url('../../img/muffin-squosh.jpg');
    background-position: center;
    background-size: 200px;
}
.img-wrapper-39 {
    background-image: url('../../img/Applepie-squosh.jpg');
    background-position: center;
    background-size: 200px;
}
.img-wrapper-40 {
    background-image: url('../../img/Applepie-squosh.jpg');
    background-position: center;
    background-size: 200px;

}


@media (max-width:430px)  {
    .main-background-deserts {
    background-image: url(https://plus.unsplash.com/premium_photo-1681826543445-e84c16a952b4?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    border-radius: 30px;
    padding-bottom: 20px;
}

.deserts-section {
    box-shadow: 15px 15px 20px 5px rgba(127, 111, 111, 0.562);
}
.food-list {
    list-style: none;
    display: flex;
    gap: 100px;
    flex-wrap: wrap;
    width: 1200px;
    
    margin: 0 auto;
    padding-left: 0;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 120px;
}
.populardesert-item {
    border: 1px solid blue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(202, 99, 51);
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-left: 90px;

}
.populardesert-item:hover {
    box-shadow: inset 0px 0px 10px 5px rgb(154, 76, 39);

}
.img-wrapper-38 {
    background-image: url('../../img/muffin-squosh.jpg');
    background-position: center;
    background-size: 200px;
}
.img-wrapper-39 {
    background-image: url('../../img/Applepie-squosh.jpg');
    background-position: center;
    background-size: 200px;
}
.img-wrapper-40 {
    background-image: url('../../img/Applepie-squosh.jpg');
    background-position: center;
    background-size: 200px;

}  
}

@media (min-width:768px) and (max-width: 1024px) {
    .food-list {
    list-style: none;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 760px;
    
    margin: 0 auto;
    padding-left: 0;
    text-align: center;

    margin-left: 4px;
}
.populardesert-item {
    border: 1px solid blue;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(202, 99, 51);
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

}