.container-gallery {
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    width: 1200px;
    border: 1px solid red;
    margin-right: 80px;

}

.box-gallery {
    position: absolute;
    height: 500px;
    width: 500px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 64px;
    color: #fff;

    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin-left: 0px;
}


// .btn-product-monthly{
//         padding: 7px 10px;
//     border: none;
//     border-radius: 30px;
//     background-color: wheat;
//     cursor: pointer;
//     margin: 0 auto;
//     background-color: wheat;
//     margin-top: 3px;
//     margin-bottom: 40px;
// }


.box-gallery:nth-child(1) {
    top: 20px;
    left: 30px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9i_OFvq8GFLPt8uRmmmJc-hO7gighPQPyDg&s);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.507);
    z-index: 2;
}

.box-gallery:nth-child(2) {

    top: 60px;
    left: 430px;

    background-image: url(https://thumbs.dreamstime.com/b/rustic-cafe-interior-distressed-walls-cozy-wooden-furniture-vintage-lighting-337098249.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.527);
    z-index: 2;

}

.box-gallery:nth-child(3) {
    top: 390px;
    left: 370px;
    background-image: url(https://media.istockphoto.com/id/1459254779/photo/entrance-of-coffee-shop-with-tables-and-chairs-on-sidewalk.jpg?s=612x612&w=0&k=20&c=yfUYFfWqT1cHQtZxndGh2wasiLc2o8nhhDYLL3jZfhQ=);
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.504);
}

.box-gallery:nth-child(4) {


    top: 350px;
    left: 70px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn_S3qVj8zLYhYcWLcDiFwuXSnmSRv4KEWeQ&s);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.507);
}


@media (max-width:430px) {
    .container-gallery {
        min-height: 50vh;
        position: relative;
        margin: 0 auto;
        width: 400px;
        border: 1px solid red;

    }

    .box-gallery {
        position: absolute;
        height: 100px;
        width: 100px;

        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        font-size: 64px;
        color: #fff;

        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
        margin-left: 0px;
    }

    .box-gallery:nth-child(1) {


        top: 20px;
        left: 30px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9i_OFvq8GFLPt8uRmmmJc-hO7gighPQPyDg&s);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.507);
        z-index: 2;
        height: 150px;
        width: 150px;
    }

    .box-gallery:nth-child(2) {


        top: 34px;
        left: 189px;
        background-image: url(https://thumbs.dreamstime.com/b/rustic-cafe-interior-distressed-walls-cozy-wooden-furniture-vintage-lighting-337098249.jpg);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.527);
        z-index: 2;
        height: 150px;
        width: 150px;
    }

    .box-gallery:nth-child(3) {


        top: 177px;
        left: 43px;
        background-image: url(https://media.istockphoto.com/id/1459254779/photo/entrance-of-coffee-shop-with-tables-and-chairs-on-sidewalk.jpg?s=612x612&w=0&k=20&c=yfUYFfWqT1cHQtZxndGh2wasiLc2o8nhhDYLL3jZfhQ=);
        z-index: 1;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.504);
        height: 150px;
        width: 150px;
    }

    .box-gallery:nth-child(4) {


        top: 182px;
        left: 183px;
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn_S3qVj8zLYhYcWLcDiFwuXSnmSRv4KEWeQ&s);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.507);
        height: 150px;
        width: 150px;
    }


}
















@media (min-width:768px) and (max-width: 1024px){

    .container-gallery {
    min-height: 100vh;
    position: relative;
    margin: 0 auto;
    width: 1200px;
    border: 1px solid red;
    margin-left: 34px;

}

.box-gallery {
    position: absolute;
    height: 300px;
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 64px;
    color: #fff;

    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    margin-left: 0px;
}


// .btn-product-monthly{
//         padding: 7px 10px;
//     border: none;
//     border-radius: 30px;
//     background-color: wheat;
//     cursor: pointer;
//     margin: 0 auto;
//     background-color: wheat;
//     margin-top: 3px;
//     margin-bottom: 40px;
// }


.box-gallery:nth-child(1) {
    top: 20px;
    left: 30px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9i_OFvq8GFLPt8uRmmmJc-hO7gighPQPyDg&s);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.507);
    z-index: 2;
}

.box-gallery:nth-child(2) {

    top: 35px;
    left: 350px;

    background-image: url(https://thumbs.dreamstime.com/b/rustic-cafe-interior-distressed-walls-cozy-wooden-furniture-vintage-lighting-337098249.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.527);
    z-index: 2;

}

.box-gallery:nth-child(3) {
    top: 340px;
    left: 340px;
    background-image: url(https://media.istockphoto.com/id/1459254779/photo/entrance-of-coffee-shop-with-tables-and-chairs-on-sidewalk.jpg?s=612x612&w=0&k=20&c=yfUYFfWqT1cHQtZxndGh2wasiLc2o8nhhDYLL3jZfhQ=);
    z-index: 1;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.504);
}

.box-gallery:nth-child(4) {


    top: 330px;
    left: 35px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSn_S3qVj8zLYhYcWLcDiFwuXSnmSRv4KEWeQ&s);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 7px 7px 7px 7px rgba(0, 0, 0, 0.507);
}
}