.social-list {
    list-style: none;
    display: flex;
    gap: 100px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;

}



.location-page-map{
     border-radius: 30px;
}




.social-link {
    text-decoration: none;
    color: black;
}
.focus-in-expand {
    animation: focus-in-expand 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}
.section-social {
    background-image: radial-gradient(circle at center,
            yellow 10%,
            oraNGE 50%);
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 7px 10px 5px yellow, 0px 14px 9px 7px oraNGE, 8px 20px 15px 15px rgb(218, 126, 21);
}
.location-background-img {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH_S-7ogRkT2RiCbLrYvPy-t6f-5nL1cJ1gQ&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 20px;
}
.section-container {
    margin: 0 auto;
    width: 700px;
    text-align: center;
  
}

.section-title-map{
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    gap: 10px;
    letter-spacing: 7px;
    text-shadow: 2px 2px 4px rgb(242, 242, 9);
    margin-bottom: 30px;
}



@media  (max-width:430px) {
    .social-list {
    list-style: none;
    display: flex;
    gap: 40px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}
.social-link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.focus-in-expand {
    animation: focus-in-expand 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}
.section-social {
    background-image: radial-gradient(circle at center,
            yellow 10%,
            oraNGE 50%);
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 7px 10px 5px yellow, 0px 14px 9px 7px oraNGE, 8px 20px 15px 15px rgb(218, 126, 21);
}
.location-background-img {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH_S-7ogRkT2RiCbLrYvPy-t6f-5nL1cJ1gQ&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 20px;
}
.section-container {
    margin: 0 auto;
    width: 700px;
    text-align: center;
  
}

.section-title-map{
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    gap: 10px;
    letter-spacing: 7px;
    text-shadow: 2px 2px 4px rgb(242, 242, 9);
    margin-bottom: 30px;
    margin-right:  300px; 
}

.location-page-map{
     border-radius: 30px;
     margin-left: -300px;
     width: 350px;
}
}

@media (min-width:768px) and (max-width: 1024px) {

.social-list {
    list-style: none;
    display: flex;
    gap: 60px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    justify-content: center;

}



.location-page-map{
     border-radius: 30px;
}




.social-link {
    text-decoration: none;
    color: black;
}
.focus-in-expand {
    animation: focus-in-expand 1.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes focus-in-expand {
    0% {
        letter-spacing: -0.5em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}
.section-social {
    background-image: radial-gradient(circle at center,
            yellow 10%,
            oraNGE 50%);
    border-radius: 15px;
    margin-bottom: 20px;
    box-shadow: 0px 7px 10px 5px yellow, 0px 14px 9px 7px oraNGE, 8px 20px 15px 15px rgb(218, 126, 21);
}
.location-background-img {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH_S-7ogRkT2RiCbLrYvPy-t6f-5nL1cJ1gQ&s);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1200px;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 20px;
    border-radius: 20px;
}
.section-container {
    margin: 0 auto;
    width: 700px;
    text-align: center;
  
}

.section-title-map{
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
    gap: 10px;
    letter-spacing: 7px;
    text-shadow: 2px 2px 4px rgb(242, 242, 9);
    margin-bottom: 30px;
}


}