.main-background-table {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYRlXV1wlp6er1VdWib8ioTICfU6boJ7SH8JPwS8hzGuVDBfBto8ZPd5xulJkP7e9d1vY&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1200px;
    border-radius: 15px;

}
.table-section {
    box-shadow: 15px 15px 20px 5px rgba(127, 111, 111, 0.562);
}

.wrapper-table {
    width: 500px;
   
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

table caption {
    text-align: left;
}

table {
    border-collapse: collapse;
    background-color: rgba(62, 61, 61, 0.305);
}

table th,
table td {
    padding: 10px;
  
    width: 500px;
    color: white;
}

.table {
   
    width: 500px;
}

.table-delivery {
    text-align: center;

}
.table-section {
    box-shadow: 15px 15px 20px 5px rgba(127, 111, 111, 0.562);
}



@media (max-width:430px)  {
    .main-background-table {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSYRlXV1wlp6er1VdWib8ioTICfU6boJ7SH8JPwS8hzGuVDBfBto8ZPd5xulJkP7e9d1vY&usqp=CAU);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1200px;
    border-radius: 15px;

}
.table-section {
    box-shadow: 15px 15px 20px 5px rgba(127, 111, 111, 0.562);
}

.wrapper-table {
    width: 500px;
   
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 72px;
}

table caption {
    text-align: left;
}

table {
    border-collapse: collapse;
    background-color: rgba(62, 61, 61, 0.305);
}

table th,
table td {
    padding: 10px;
  
    width: 500px;
    color: white;
}

.table {
   
    width: 200px;
}

.table-delivery {
    text-align: center;

}
.table-section {
    box-shadow: 15px 15px 20px 5px rgba(127, 111, 111, 0.562);
}

}